<!DOCTYPE html>
<html>
<head>
  <title>WhiteBoard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top:10px;background-color: white;background-image: none">

<%= yield %>

</body>
</html>
